@model PolygraphyCalculator.Models.CorosetPriceModel

<div>
    @Html.LabelFor(x => x.Form)
    @Html.EditorFor(x => x.Form)
    @Html.ValidationMessageFor(x => x.Form)
</div>

<div>
    @Html.LabelFor(x => x.Fitting)
    @Html.EditorFor(x => x.Fitting)
    @Html.ValidationMessageFor(x => x.Fitting)
</div>

<div>
    @Html.LabelFor(x => x.TechNeeds1_1)
    @Html.EditorFor(x => x.TechNeeds1_1)
    @Html.ValidationMessageFor(x => x.TechNeeds1_1)
</div>

<div>
    @Html.LabelFor(x => x.TechNeeds2_2)
    @Html.EditorFor(x => x.TechNeeds2_2)
    @Html.ValidationMessageFor(x => x.TechNeeds2_2)
</div>

<div>
    @Html.LabelFor(x => x.Impression1_1)
    @Html.EditorFor(x => x.Impression1_1)
    @Html.ValidationMessageFor(x => x.Impression1_1)
</div>

<div>
    @Html.LabelFor(x => x.Impression2_2)
    @Html.EditorFor(x => x.Impression2_2)
    @Html.ValidationMessageFor(x => x.Impression2_2)
</div>

