@model PolygraphyCalculator.Models.RapidaPriceModel

<div>
    @Html.LabelFor(x=>x.Form)
    @Html.EditorFor(x=>x.Form)
    @Html.ValidationMessageFor(x=>x.Form)
</div>

<div>
    @Html.LabelFor(x => x.Fitting4_0)
    @Html.EditorFor(x => x.Fitting4_0)
    @Html.ValidationMessageFor(x => x.Fitting4_0)
</div>

<div>
    @Html.LabelFor(x => x.Fitting4_1)
    @Html.EditorFor(x => x.Fitting4_1)
    @Html.ValidationMessageFor(x => x.Fitting4_1)
</div>

<div>
    @Html.LabelFor(x => x.Fitting2_2)
    @Html.EditorFor(x => x.Fitting2_2)
    @Html.ValidationMessageFor(x => x.Fitting2_2)
</div>

<div>
    @Html.LabelFor(x => x.Fitting4_2)
    @Html.EditorFor(x => x.Fitting4_2)
    @Html.ValidationMessageFor(x => x.Fitting4_2)
</div>

<div>
    @Html.LabelFor(x => x.Fitting4_4)
    @Html.EditorFor(x => x.Fitting4_4)
    @Html.ValidationMessageFor(x => x.Fitting4_4)
</div>

<div>
    @Html.LabelFor(x => x.TechNeedsLT2999)
    @Html.EditorFor(x => x.TechNeedsLT2999)
    @Html.ValidationMessageFor(x => x.TechNeedsLT2999)
</div>

<div>
    @Html.LabelFor(x => x.TechNeedsGT2999)
    @Html.EditorFor(x => x.TechNeedsGT2999)
    @Html.ValidationMessageFor(x => x.TechNeedsGT2999)
</div>

<div>
    @Html.LabelFor(x => x.ImpressionLT999)
    @Html.EditorFor(x => x.ImpressionLT999)
    @Html.ValidationMessageFor(x => x.ImpressionLT999)
</div>

<div>
    @Html.LabelFor(x => x.ImpressionLT2999)
    @Html.EditorFor(x => x.ImpressionLT2999)
    @Html.ValidationMessageFor(x => x.ImpressionLT2999)
</div>

<div>
    @Html.LabelFor(x => x.ImpressionLT4999)
    @Html.EditorFor(x => x.ImpressionLT4999)
    @Html.ValidationMessageFor(x => x.ImpressionLT4999)
</div>

<div>
    @Html.LabelFor(x => x.ImpressionLT9999)
    @Html.EditorFor(x => x.ImpressionLT9999)
    @Html.ValidationMessageFor(x => x.ImpressionLT9999)
</div>

<div>
    @Html.LabelFor(x => x.ImpressionGT9999)
    @Html.EditorFor(x => x.ImpressionGT9999)
    @Html.ValidationMessageFor(x => x.ImpressionGT9999)
</div>







